@charset "utf-8";

/*g-topbar01 start*/
.g-topbar {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    background-color: rgb(243,243,243);
    text-align: left;
}
.g-topbar span.title-g {
    margin-left: 0;
}
.g-topbar span, .g-topbar a {
    display: inline-block;
    margin-left: 15px;
}
/*g-topbar01 end*/

/*导航栏navbar-line01 start*/
.navbar-line01{}
.navbar-line01 .navbar-block{
	float: left;position: relative;
	min-height: 1px;
	cursor: pointer;
	font-size:14px;
	position: relative;
	display: block;
}
.navbar-line01 .navbar-block a.navLink{
	display: block;
	padding:13px 37px;
}
.navbar-line01 .navbar-block.on,.navbar-block:hover{background: #fff;color:#6eb92b;}
.navbar-line01 .navbar-block .naver_01 {background-color: #fff; display: none; position: absolute; z-index: 99; padding-top: 10px; }
.navbar-line01 .navbar-block .naver_01 .nav_erc01 {
    color: rgb(110, 185, 43);
    border: 1px solid #6eb92b;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
    position: relative;
    height: 99px;
    padding: 15px;
    box-sizing: content-box;
}
.navbar-line01 .navbar-block .naver_01 .nav_erc01:before{
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    border: 1px solid #6eb92b;
    top: -6px;
    left: 15%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: #fff;
    transform: rotate(45deg);
} 
.navbar-line01 .navbar-block .naver_01 .nav_erc01 .navBox01, .navbar-line01 .navbar-block .naver_01 .nav_erc01 .navBox01Pic, .navbar-line01 .navbar-block .naver_01 .nav_erc01 .navBox01Pic a, .navbar-line01 .navbar-block .naver_01 .nav_erc01 .navBox01Link { display: block; height: 100%; }
.navbar-line01 .navbar-block .naver_01 .nav_erc01 .navBox01Link .linkWrapper { 
    display: table-cell; vertical-align: middle; height: 104px; text-align: left; 
}
.nav_erc01 .linkWrapper .link-middle{display: table-row;}
.nav_erc01 .linkWrapper .link-middle .leftBox,
.nav_erc01 .linkWrapper .link-middle .rightBox{display: table-cell;padding:0 10px;}

.navbar-line01 .navbar-block .naver_01 .navBox01Link .navLi { 
    display: block; 
     
    font-size: 12px; 
    padding: 0px 0px 7px 0;
}
.navbar-line01 .navbar-block .naver_01 .nav_erc01 .navLi a { 
    padding: 0px 10px;  white-space: nowrap;
    background: url("../img/nav-lb.png") 0px 48% no-repeat;
}

.navbar-line01 .navbar-block .naver_01 .nav_erc01 li:hover a{background: #6eb92b;}
.navbar-line01 .navbar-block .naver_01 .nav_erc01 li:hover a{color: #fff;}

/*导航栏navbar-line01 end*/


/*导航栏navbar-line02 start*/
.navbar-line02{}
.navbar-line02 .navbar-block{
    float: left;
    position: relative;
    min-height: 1px;
    cursor: pointer;
    font-size:14px;
    position: relative;
    display: block;
}
.navbar-line02 .navbar-block a.navLink{
    display: block;
    padding:13px 37px;
}
.navbar-line02 .navbar-block .naver_0{
    display: none;
    position: absolute;
    z-index: 99;
    top: 48px;
    padding-top: 10px;
    background: url(../img/topTri.png) no-repeat 50% 5px;
    left: -6%;
}

.navbar-line02 .navbar-block .naver_0 .nav_erc{
    background-color: #ecf8fc;
    opacity: .9;
    filter:alpha(opacity=90);
    text-align: center;    
}

.navbar-line02 .navbar-block.on,.navbar-block:hover{background: #fff;color:#6eb92b;}
.navbar-line02 .navbar-block .naver_0 .nav_erc li {
    padding: 5px 45px;
}

.navbar-line02 .navbar-block .naver_0 .nav_erc li:hover{background-color: #6eb92b;}
.navbar-line02 .navbar-block .naver_0 .nav_erc li:hover a{color: #fff;}
.navbar-line02 .navbar-block .naver_0 .nav_erc li a{
    white-space: nowrap;
    color: #6eb92b;
}
/*导航栏navbar-line02 end*/

/*wave-banner start*/
.wave.plain {background-image: url(../img/wave-plain.png);}
.wave.paint {background-image: url(../img/wave-paint.png);}
.waveContainer{position: relative;width: 100%;height: 30rem;}
.waveContainer ul{}
.waveContainer .wave{
    position: absolute;bottom: 0;display: block;
    height: 15rem;
    width: 300%;
    left: -100%;    
}
.wave.depth-30 {
  -webkit-animation: wave 7.11111s 0.1s infinite linear;
  -moz-animation: wave 7.11111s 0.1s infinite linear;
  animation: wave 7.11111s 0.1s infinite linear;
  bottom: 200px;
  margin: 0px 0px;
  background-size: 180px 72px;
  height: 72px;
}
.wave.depth-30:after {
  height: 112px;
}
.wave.depth-40 {
  -webkit-animation: wave 6.66667s 0.1s infinite linear;
  -moz-animation: wave 6.66667s 0.1s infinite linear;
  animation: wave 6.66667s 0.1s infinite linear;
  bottom: 180px;
  margin: 0px 0px;
  background-size: 240px 96px;
  height: 96px;
}
.wave.depth-40:after {
  height: 96px;
}
.wave.depth-50 {
  -webkit-animation: wave 6.22222s 0.1s infinite linear;
  -moz-animation: wave 6.22222s 0.1s infinite linear;
  animation: wave 6.22222s 0.1s infinite linear;
  bottom: 150px;
  margin: 0px 0px;
  background-size: 300px 120px;
  height: 120px;
}
.wave.depth-50:after {
  height: 80px;
}
.wave.depth-60 {
  -webkit-animation: wave 5.77778s 0.1s infinite linear;
  -moz-animation: wave 5.77778s 0.1s infinite linear;
  animation: wave 5.77778s 0.1s infinite linear;
  bottom: 120px;
  margin: 0px 0px;
  background-size: 360px 144px;
  height: 144px;
}
.wave.depth-60:after {
  height: 64px;
}
.wave.depth-80 {
  -webkit-animation: wave 4.88889s 0.1s infinite linear;
  -moz-animation: wave 4.88889s 0.1s infinite linear;
  animation: wave 4.88889s 0.1s infinite linear;
  bottom: 60px;
  margin: 0px 0px;
  background-size: 480px 192px;
  height: 192px;
}
.wave.depth-80:after {
  height: 32px;
}
.wave.depth-100 {
  -webkit-animation: wave 4s 0.1s infinite linear;
  -moz-animation: wave 4s 0.1s infinite linear;
  animation: wave 4s 0.1s infinite linear;
  bottom: 0px;
  margin: 0px 0px;
  background-size: 600px 240px;
  height: 240px;
}
.wave.depth-100:after {
  height: 0px;
}
@keyframes wave {
          0% {
            -webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
            -moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
          }

          100% {
            -webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
            -moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
          }
}
.lighthouse{
          -webkit-transform-origin: 50% 90%;
          -moz-transform-origin: 50% 90%;
          transform-origin: 50% 90%;
          -webkit-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          -moz-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
          background-image: url(../img/lighthouse.png);
          background-repeat: no-repeat;
          position: absolute;
          right: 20%;
          margin: 0px -112px;
          background-size: 224px 392px;
          height: 392px;
          width: 224px;
          margin: 0px -104px;
          bottom: 188px;
}
@keyframes lighthouse{
          0% {
            -webkit-transform: translate3d(15%,0,0) rotateZ(10deg);
            -moz-transform: translate3d(15%,0,0) rotateZ(10deg);
            transform: translate3d(15%,0,0) rotateZ(10deg);
          }

          100% {
            -webkit-transform: translate3d(-15%,0,0) rotateZ(-10deg);
            -moz-transform: translate3d(-15%,0,0) rotateZ(-10deg);
            transform: translate3d(-15%,0,0) rotateZ(-10deg);
          }
}
/*wave-banner end*/