*{box-sizing: border-box;margin:0;padding:0;}
a{text-decoration: none;cursor: pointer;}
/*a:visited{color:inherit;}*/
ul{list-style: none;}
body{font-family: "Helvetica Neue", Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial,sans-serif;overflow-x: hidden;}
input{border:none;}


