.btnRow{position: relative;}
.rb-btn{
	display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    background: #fff;
    text-align: right;
    line-height: 28px;
}

.heart-btn{
	text-align: center;
	display: inline-block;
}
.heart{
	display: block;
	animation: pound 2.5s infinite;
	transform-origin: center;
}
@keyframes pound {
	50% { transform: scale(1.1); }
}
