.btnRow{position: relative;}

.button .icon{vertical-align: middle;}

/*heart-btn start*/
.heart-btn{
	display: inline-block;
    text-align: center;
}
.heart-btn .heart{
	display: block;
	animation: pound 2.5s infinite;
	transform-origin: center;
}
@keyframes pound {
	50% { transform: scale(1.1); }
}	
/*heart-btn end*/

.btn-r-m{
	padding: 0 13px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    font-size: 16px;
}

.btn-s{font-size: 13px;}


.input-set{}
.input-set input{display: inline-block;float:left;height: 100%;font-size: 16px;font-weight: 500;}
.input-set input.input{width:72%;padding-left:10px;}
.input-set input.button{width:28%;}
.input-set-l{height: 48px;}

/*input-set01 start*/
.input-set01{width:328px; height: 38px;}
.input-set01 input { display: inline-block; float: left; height: 100%; font-size: 16px; font-weight: 500; }
.input-set01 input.input:focus{outline: none;} 
.input-set01 input.input {
    box-sizing:border-box; width: 80%; padding-left: 2%;border:1px solid #f6f6f6;
    border-right: none;
    background-color: #fff;
}
.input-set01 input.button { width: 18%; 
    background-image: url(../img/search-icon.jpg);background-repeat:  no-repeat;
    background-color: #f6f6f6;
}
/*input-set01 end*/

.more {
    z-index: 99;
    position: relative;
}


.tag-green{
    border:1px solid #6eb92b;
    border-radius: 10px;
    padding:0px 10px;
    display: inline-block;
}
.tag-blue{
    border:1px solid #1978CF;
    border-radius: 10px;
    padding:0px 10px;
    display: inline-block;
}
.tag-red{
    border:1px solid #ec5369;
    border-radius: 10px;
    padding:0px 10px;
    display: inline-block;
}
/*btn-num01 start*/
.btn-num01{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background-color: #8fc85d;
    color: #fff;
    display: inline-block;
}
.btn-num01:active{background-color: #69A237;}
/*btn-num01 end*/

/*btn-num02 start*/
.btn-num02 {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    background-color: #fff;
    color: #c8c8c8;
    display: inline-block;
}
/*btn-num02 end*/


/*loginZone form start*/
.loginZone{position: relative;}
.loginZone .login-form{
    text-align:left;
    width: 37%;
    margin: 0 auto; 
    background: #deeffd;
    border: 1px solid rgba(255,255,255,.3);
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,.03);
    box-shadow: 0 0 40px black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;  
}    
.login-form .uname {
    background: #fff url(../img/user.png) no-repeat 95% center;
    color: #333;
}
.login-form .input-base {
    display: block;
    margin-top: 15px;
}
.login-form .pword {
    background: #fff url(../img/locked.png) no-repeat 95% center;
    color: #333;
}
.login-form .verify{display: inline-block;}
.login-form .login{
    display: block;width: 80%;margin:15px auto 0;
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFF;
    padding: 6px 12px;
    border-radius: 5px;
    
}

.tech-support{text-align: center;font-size: 12px; padding-top: 30px;}
.loginZone{padding:50px 0;}
.middleRow {
    height: 200px;
    background-color: #d6eafc;
}

/*loginZone form end*/
    
    