.btnRow{position: relative;}
.button{cursor: pointer;}

.r-btn{
	float: right;
}

.heart-btn{
	display: inline-block;
}
.heart-btn .heart{
	display: block;
	animation: pound 2.5s infinite;
	transform-origin: center;
}
@keyframes pound {
	50% { transform: scale(1.1); }
}	

.btn-s{font-size: 13px;}

.input-set{display: table;}
.input-set input{display: table-cell;height: 100%;font-size: 16px;font-weight: 500;}
.input-set input.input{width:72%;padding-left:10px;}
.input-set input.button{width:28%;}
.input-set-l{height: 48px;}



    
    