@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
.footer03 .fridend_link .right a {
  text-transform: uppercase; }

/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.footer03 .fridend_link, .footer03 .fridend_link .right a {
  position: relative; }

.footer03, .footer03 .fridend_link .right a + a {
  text-align: center !important; }

/*frame */
/*----------------------------------------------------- */
/* setting scss*/
.footer03 .fridend_link .right a {
  text-transform: uppercase; }

/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.footer03 .fridend_link, .footer03 .fridend_link .right a {
  position: relative; }

.footer03, .footer03 .fridend_link .right a + a {
  text-align: center !important; }

/*frame */
/* input set  start  */
/* input set  end  */
/*footer03 start*/
.footer03 {
  margin-top: 30px;
  background: #f6f6f6;
  border-top: 1px solid #ddd; }
  .footer03 .fridend_link {
    background: #006acf; }
    .footer03 .fridend_link .right {
      padding: 10px 0; }
      .footer03 .fridend_link .right a {
        font-weight: 700;
        color: #fff;
        padding: 0 15px; }
        .footer03 .fridend_link .right a:first-child {
          padding-left: 0; }
        .footer03 .fridend_link .right a + a:before {
          position: absolute;
          content: "|";
          left: 0px;
          width: 1px;
          color: #dbdbdb; }
        .footer03 .fridend_link .right a + a:before {
          left: -3px; }
  .footer03 .img {
    display: inline-block;
    padding-right: 20px;
    background: url(../img/border2.png) 100% no-repeat; }
  .footer03 .copyRight {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    padding-left: 20px; }
  .footer03 .footer03-info {
    padding: 30px 0; }

/* footer03 end */
/* footer02 start */
.footer02 {
  box-sizing: content-box;
  background: #fff;
  text-align: left; }
  .footer02 .footer-content .f-content {
    float: left;
    padding: 30px 0px;
    box-sizing: content-box; }
    .footer02 .footer-content .f-content:first-child {
      padding-left: 0px;
      text-align: left; }
    .footer02 .footer-content .f-content.logo {
      width: 380px;
      padding-top: 50px; }
    .footer02 .footer-content .f-content.address {
      width: 384px;
      padding-top: 45px;
      font-size: 13px; }
    .footer02 .footer-content .f-content:last-child {
      padding-right: 0px;
      text-align: right; }
    .footer02 .footer-content .f-content.qr {
      width: 122px;
      float: right; }
  .footer02 .copyRight {
    background-color: #eee;
    text-align: center;
    padding: 8px 0; }

/* footer02 end */
/*footer01 start*/
.footer01 {
  box-sizing: content-box;
  background: #393939;
  padding-top: 38px;
  color: #ebebeb;
  text-align: left; }

.footer01 .footer-link {
  border-bottom: 1px solid #4d4d4d; }

.footer01 .footer-link .fl01 {
  color: #fff;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
  float: left; }

.footer01 .footer-link .fl01:first-child {
  padding-left: 0; }

.footer01 .footer-content {
  padding-top: 20px; }

.footer01 .footer-content .f-content {
  float: left;
  padding: 30px 62px;
  box-sizing: content-box; }

.footer01 .footer-content .f-content:first-child {
  padding-left: 0;
  text-align: left; }

.footer01 .footer-content .f-content:last-child {
  padding-right: 0;
  text-align: right; }

.footer01 .footer-content .f-content.logo {
  width: 243px;
  padding-top: 50px;
  border-right: 1px solid #4d4d4d; }

.footer01 .footer-content .f-content.address {
  width: 384px;
  padding-top: 45px;
  border-right: 1px solid #4d4d4d;
  font-size: 13px; }

.footer01 .footer-content .f-content.qr {
  width: 122px; }

/*footer01 end*/

/*# sourceMappingURL=maps/footer.css.map */
