@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.header11 .header11-left, .header08 .header08-left, .header05 .header05-left {
  float: left; }

.header11, .header08, .header08 .header08-right, .header06, .header05, .header05 .iconfont {
  position: relative; }

.header11 .header11-left, .header08 .header08-left, .header05 .header05-left {
  float: left; }

/*frame */
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.header11 .header11-left, .header08 .header08-left, .header05 .header05-left {
  float: left; }

.header11, .header08, .header08 .header08-right, .header06, .header05, .header05 .iconfont {
  position: relative; }

.header11 .header11-left, .header08 .header08-left, .header05 .header05-left {
  float: left; }

/*frame */
/* input set  start  */
/* input set  end  */
.header12 .title {
  color: #006acf;
  font-weight: bold;
  font-size: 18.72px; }

/*header11 start*/
.header11 {
  text-align: center;
  height: 64px;
  line-height: 64px; }
  .header11 .header11-left, .header11 .header11-right {
    min-height: 1px; }
  .header11 .header11-left {
    width: 55px;
    text-align: left;
    height: 64px; }
  .header11 .header11-right {
    margin-left: 55px;
    height: 64px; }
  .header11 .header11-left {
    background: #006acf;
    color: #fff;
    text-align: center;
    line-height: 1.5; }
    .header11 .header11-left .header11-leftInner {
      padding-top: 11px; }
  .header11 .header11-right {
    background: #f4f4f4;
    font-size: 27.6px;
    font-family: ""; }

/*header11 end*/
.header10 {
  text-align: center; }
  .header10 li {
    display: inline-block; }
    .header10 li img {
      width: 90px; }
    .header10 li + li {
      margin-left: 55px; }

.header09 {
  padding: 10px 28px;
  display: block;
  height: 26px;
  line-height: 26px;
  background-color: #f6f6f6; }
  .header09 .h-title01 {
    font-size: 18.72px;
    color: #006acf;
    font-weight: 700; }
  .header09 .more {
    color: #333;
    padding-left: 20px; }
    .header09 .more .iconfont {
      vertical-align: middle;
      margin-right: 5px;
      color: #006acf; }

.header08 {
  height: 50px;
  line-height: 50px; }
  .header08 .header08-left, .header08 .header08-right {
    min-height: 1px; }
  .header08 .header08-left {
    width: 100px;
    text-align: left;
    height: 50px; }
  .header08 .header08-right {
    margin-left: 100px;
    height: 50px; }
  .header08 .header08-left {
    background: #006acf;
    color: #fff;
    text-align: center; }
  .header08 .header08-right {
    background: #f4f4f4; }
    .header08 .header08-right:before {
      position: absolute;
      left: 0px;
      width: auto;
      color: #dbdbdb;
      content: "";
      font-size: 15px;
      top: 50%;
      left: -8px;
      margin-top: -8px;
      border-top: 8px solid transparent;
      border-right: 8px dashed #f4f4f4;
      border-bottom: 8px solid transparent;
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: middle; }
    .header08 .header08-right li {
      padding: 0 35px;
      float: left; }
      .header08 .header08-right li:hover {
        color: #006acf; }

.header07 {
  padding: 4px 18px;
  display: block;
  height: 26px;
  line-height: 26px;
  background-color: #006acf;
  color: #fff;
  -webkit-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0; }
  .header07 .h-title01 {
    font-size: 15px; }
  .header07 .more {
    padding-left: 20px;
    font-size: 12px; }

/* header06 start*/
.header06 {
  height: 25px;
  line-height: 25px;
  margin: 45px 0; }
  .header06:after {
    position: absolute;
    right: 0px;
    width: auto;
    color: inherit;
    content: "";
    font-size: 15px;
    width: 100%;
    height: 2px;
    background: #ddd;
    top: 12.5px; }
  .header06 .title {
    height: 25px;
    line-height: 25px;
    font-size: 22.464px;
    overflow: hidden;
    background: #f3f9fe;
    display: inline-block;
    z-index: 999;
    position: relative;
    padding-right: 20px; }
    .header06 .title.little-gray {
      background: #f0f0f0; }
    .header06 .title img {
      vertical-align: middle; }
    .header06 .title .iconfont {
      font-size: 22.464px; }

/* header06 end */
.header05 {
  margin: 30px 0 15px; }
  .header05 .header05-left, .header05 .header05-right {
    min-height: 1px; }
  .header05 .header05-left {
    width: 40px;
    text-align: left;
    height: auto; }
  .header05 .header05-right {
    margin-left: 45px;
    height: auto; }
  .header05 .iconfont {
    font-size: 33.696px;
    color: #59a3d6;
    top: 8px; }
  .header05 .big {
    font-size: 22.464px;
    color: #000; }
  .header05 .border {
    width: 170px;
    height: 2px;
    background: #59a3d6; }
  .header05 .info {
    padding-bottom: 15px; }

/*header04 start*/
.header04 {
  padding: 12px 0 12px 15px; }

.header04 .itemChoose {
  color: #000;
  position: relative; }

.header04 .itemChoose:before {
  position: absolute;
  left: -15px;
  content: " ";
  border-left: 3px solid #df0000;
  /* width: 5px; */
  width: 1px;
  height: 85%;
  top: 2px; }

/*header04 end*/
/*header03 start*/
.header03 {
  padding: 4px 18px;
  display: block;
  height: 26px;
  line-height: 26px;
  background-color: #f6f6f6;
  text-align: left; }

.header03 .h-title01float-l {
  font-size: 15px; }

.header03 .more {
  color: #333;
  padding-left: 20px;
  background: url(../img/iconHome.png) no-repeat 0 50%; }

/*header03 end*/
/*header02 start*/
.header02 {
  padding: 25px 0 20px 0;
  display: block;
  height: 26px;
  line-height: 26px; }

.header02 .h-title01 {
  float: left;
  font-size: 16px;
  font-weight: 600; }

.header02 .h-title02 {
  position: relative;
  top: 2px;
  float: left;
  margin-left: 8px; }

.header02 .h-title02.upCase {
  text-transform: uppercase; }

.header02 .h-line {
  border-bottom: 1px solid #ddd;
  height: 21px;
  margin-left: 147px; }

.header02 .h-line .more {
  line-height: 18px; }

.header02 .h-line .h-line02 {
  border-bottom: 3px solid #6eb92b;
  height: 21px;
  width: 30px;
  box-sizing: border-box; }

.header02 .more {
  color: #888; }

/*header02 end*/
/*header01 start*/
.header01 {
  padding: 25px 0 20px 0;
  display: block;
  height: 26px;
  line-height: 26px; }

.header01 .h-title01 {
  float: left;
  font-size: 16px;
  font-weight: 600; }

.header01 .more {
  color: #888; }

/*header01 end*/

/*# sourceMappingURL=maps/header.css.map */
