/*r-sider01 start*/
.r-sider01{width:328px;}
.r-sider01 .floor{width:100%;display: block;padding:19px 0;}
.r-sider01 .floor:not(.bg-green){background:#f6f6f6;}
.r-sider01 .floor .link{text-align: center;height: 55px;display: block;}

.r-sider01 .floor.on{background-color: #6eb92b;}
.r-sider01 .floor.on .link{color:#fff}
.r-sider01 .floor.on .link .t01{color:#fff;}
.r-sider01 .floor.on .link .t02{color:#fff;}

.r-sider01 .floor .link .t01{font-size: 16px;color:#313131;}
.r-sider01 .floor .link .t02{font-size: 12px;color:#c5c5c5;}
.r-sider01 .floor .link .p-wrapper{
	position: relative;
	top: 4px;
    left: 10px;
}

.r-sider01 .floor.bg-green .link,
.r-sider01 .floor.bg-green .link .t01,
.r-sider01 .floor.bg-green .link .t02{color:#fff;}

.r-sider01 .floor.f00 .link{background:url(../img/sideBarbg03.png) no-repeat 50% 50%;line-height: 55px;}
.r-sider01 .floor.f01 .link{background:url(../img/icon01.png) no-repeat 19% 50%;}
.r-sider01 .floor.f02 .link{background:url(../img/icon02.png) no-repeat 19% 50%;}
.r-sider01 .floor.f03 .link{background:url(../img/icon03.png) no-repeat 19% 50%;}
.r-sider01 .floor.f04 .link{background:url(../img/icon04.png) no-repeat 19% 50%;}
.r-sider01 .floor.f05 .link{background:url(../img/icon05.png) no-repeat 19% 50%;}
.r-sider01 .floor.f06 .link{background:url(../img/icon06.png) no-repeat 19% 50%;}

.r-sider01 .floor.f01.on .link{background:url(../img/1.png) no-repeat 19% 50%;}
.r-sider01 .floor.f02.on .link{background:url(../img/2.png) no-repeat 19% 50%;}
.r-sider01 .floor.f03.on .link{background:url(../img/3.png) no-repeat 19% 50%;}
.r-sider01 .floor.f04.on .link{background:url(../img/4.png) no-repeat 19% 50%;}
.r-sider01 .floor.f05.on .link{background:url(../img/5.png) no-repeat 19% 50%;}
.r-sider01 .floor.f06.on .link{background:url(../img/6.png) no-repeat 19% 50%;}

.big-title{font-size: 25px;}

/*01*//*.f02~*/.r-sider01 .floor:not(:last-child){border-bottom: 1px solid #ddd}

/*r-sider01 end*/