@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
/*frame */
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
/*frame */
/* input set  start  */
/* input set  end  */
@-webkit-keyframes shake {
  2% {
    -webkit-transform: translate(0.34162px, 2.07321px) rotate(-0.53739deg);
    transform: translate(1.77247px, -1.76119px) rotate(2.3657deg); }
  4% {
    -webkit-transform: translate(0.46561px, 1.31535px) rotate(3.90741deg);
    transform: translate(-1.19254px, 0.24436px) rotate(-2.98397deg); }
  6% {
    -webkit-transform: translate(-1.76804px, -1.1175px) rotate(8.97379deg);
    transform: translate(2.03742px, 0.1178px) rotate(-1.45624deg); }
  8% {
    -webkit-transform: translate(0.85139px, -1.4432px) rotate(-4.93563deg);
    transform: translate(2.2966px, 1.22736px) rotate(-9.34687deg); }
  10% {
    -webkit-transform: translate(0.15868px, -1.78979px) rotate(2.11823deg);
    transform: translate(-0.50764px, 1.43327px) rotate(-8.27482deg); }
  12% {
    -webkit-transform: translate(0.88535px, -1.69699px) rotate(-8.88791deg);
    transform: translate(0.38377px, 2.24382px) rotate(9.39441deg); }
  14% {
    -webkit-transform: translate(-0.85742px, 1.1594px) rotate(0.94892deg);
    transform: translate(-1.17292px, 1.00251px) rotate(-3.49947deg); }
  16% {
    -webkit-transform: translate(1.54921px, 2.24066px) rotate(-7.68155deg);
    transform: translate(-1.74642px, -2.36073px) rotate(3.04176deg); }
  18% {
    -webkit-transform: translate(-2.06332px, -0.04472px) rotate(-2.87864deg);
    transform: translate(-0.29642px, -2.46171px) rotate(8.99799deg); }
  20% {
    -webkit-transform: translate(-1.58579px, -2.06636px) rotate(6.86845deg);
    transform: translate(0.88633px, -0.63343px) rotate(-2.61053deg); }
  22% {
    -webkit-transform: translate(-0.26685px, -0.95615px) rotate(-9.72294deg);
    transform: translate(-0.48315px, -1.40227px) rotate(-2.93882deg); }
  24% {
    -webkit-transform: translate(-1.06681px, -1.07375px) rotate(-6.35638deg);
    transform: translate(-1.24707px, 0.05455px) rotate(0.32831deg); }
  26% {
    -webkit-transform: translate(2.0658px, 0.10521px) rotate(-1.755deg);
    transform: translate(1.14012px, 0.78753px) rotate(-6.34494deg); }
  28% {
    -webkit-transform: translate(0.05485px, -0.9979px) rotate(-5.21827deg);
    transform: translate(-1.6028px, -1.89411px) rotate(6.57153deg); }
  30% {
    -webkit-transform: translate(0.00725px, 1.86513px) rotate(4.4722deg);
    transform: translate(1.0138px, 0.03549px) rotate(0.11449deg); }
  32% {
    -webkit-transform: translate(-1.37805px, -1.64948px) rotate(-6.95635deg);
    transform: translate(-2.31195px, 0.88342px) rotate(-3.711deg); }
  34% {
    -webkit-transform: translate(-0.88489px, 0.55673px) rotate(-5.53146deg);
    transform: translate(-0.97021px, 2.44943px) rotate(-9.98419deg); }
  36% {
    -webkit-transform: translate(2.13564px, -0.78306px) rotate(1.80167deg);
    transform: translate(-0.73485px, 0.54189px) rotate(6.68753deg); }
  38% {
    -webkit-transform: translate(-0.2494px, -2.38117px) rotate(-2.88742deg);
    transform: translate(1.80694px, -0.0364px) rotate(-9.05698deg); }
  40% {
    -webkit-transform: translate(-1.36805px, 1.34747px) rotate(1.08683deg);
    transform: translate(1.58857px, 0.38037px) rotate(-9.89539deg); }
  42% {
    -webkit-transform: translate(-2.16657px, 2.37986px) rotate(-0.61461deg);
    transform: translate(-1.02518px, 1.35674px) rotate(4.97384deg); }
  44% {
    -webkit-transform: translate(2.07676px, -0.97922px) rotate(-6.876deg);
    transform: translate(-1.82194px, 0.79828px) rotate(-1.75531deg); }
  46% {
    -webkit-transform: translate(-2.30229px, 0.71464px) rotate(1.18125deg);
    transform: translate(-1.39803px, 1.39275px) rotate(-9.87685deg); }
  48% {
    -webkit-transform: translate(0.21175px, 0.5001px) rotate(-7.62279deg);
    transform: translate(1.06366px, 1.90067px) rotate(-5.82585deg); }
  50% {
    -webkit-transform: translate(-2.18928px, 1.23758px) rotate(2.95894deg);
    transform: translate(-1.92627px, -1.29287px) rotate(-4.76966deg); }
  52% {
    -webkit-transform: translate(-1.78455px, -0.12211px) rotate(3.79036deg);
    transform: translate(-2.08751px, -2.34815px) rotate(5.7567deg); }
  54% {
    -webkit-transform: translate(-2.45741px, -2.4579px) rotate(7.03965deg);
    transform: translate(1.16079px, -1.21618px) rotate(-2.86618deg); }
  56% {
    -webkit-transform: translate(0.6513px, 1.92062px) rotate(7.69391deg);
    transform: translate(-0.4544px, 1.33041px) rotate(1.78907deg); }
  58% {
    -webkit-transform: translate(2.01664px, 2.07215px) rotate(8.67166deg);
    transform: translate(-0.26679px, 0.00277px) rotate(8.41364deg); }
  60% {
    -webkit-transform: translate(-2.19322px, -1.9929px) rotate(6.17273deg);
    transform: translate(1.6022px, -0.65116px) rotate(-3.13907deg); }
  62% {
    -webkit-transform: translate(0.03465px, -0.86862px) rotate(-2.20044deg);
    transform: translate(0.97242px, 1.21042px) rotate(-4.69671deg); }
  64% {
    -webkit-transform: translate(-1.7061px, 0.0655px) rotate(-2.26074deg);
    transform: translate(-0.79356px, -0.77754px) rotate(9.76182deg); }
  66% {
    -webkit-transform: translate(2.31346px, -1.68226px) rotate(0.80381deg);
    transform: translate(-1.98493px, 1.9531px) rotate(-0.57657deg); }
  68% {
    -webkit-transform: translate(1.89345px, -0.9486px) rotate(-0.07209deg);
    transform: translate(-1.77879px, -1.53384px) rotate(-6.20474deg); }
  70% {
    -webkit-transform: translate(-0.63064px, 1.15295px) rotate(4.95249deg);
    transform: translate(-1.56178px, 2.10874px) rotate(7.28339deg); }
  72% {
    -webkit-transform: translate(0.12018px, 2.21434px) rotate(-5.0177deg);
    transform: translate(2.19358px, 2.3193px) rotate(-1.1826deg); }
  74% {
    -webkit-transform: translate(-1.39158px, 2.14518px) rotate(1.66649deg);
    transform: translate(-0.64119px, 0.50283px) rotate(8.30805deg); }
  76% {
    -webkit-transform: translate(1.87688px, 0.83247px) rotate(4.60198deg);
    transform: translate(-0.95821px, 2.23577px) rotate(-4.02863deg); }
  78% {
    -webkit-transform: translate(0.82595px, -1.85542px) rotate(0.16415deg);
    transform: translate(-2.42517px, -0.56981px) rotate(3.93149deg); }
  80% {
    -webkit-transform: translate(1.82754px, -2.30143px) rotate(-3.09383deg);
    transform: translate(1.67177px, -1.85696px) rotate(-3.18029deg); }
  82% {
    -webkit-transform: translate(2.14995px, 1.95508px) rotate(-4.36256deg);
    transform: translate(-0.61203px, 1.99646px) rotate(2.69367deg); }
  84% {
    -webkit-transform: translate(-2.05893px, -0.22187px) rotate(-6.88957deg);
    transform: translate(0.52148px, 2.48721px) rotate(-8.8511deg); }
  86% {
    -webkit-transform: translate(0.41474px, -0.99591px) rotate(0.20847deg);
    transform: translate(2.28875px, 0.8223px) rotate(7.2927deg); }
  88% {
    -webkit-transform: translate(-1.93071px, 1.4685px) rotate(4.50037deg);
    transform: translate(-0.72695px, 1.76714px) rotate(4.80398deg); }
  90% {
    -webkit-transform: translate(-1.30444px, 0.01906px) rotate(6.82613deg);
    transform: translate(-0.70169px, -0.36695px) rotate(-5.14837deg); }
  92% {
    -webkit-transform: translate(-1.53988px, -1.24861px) rotate(1.90853deg);
    transform: translate(-1.17691px, 2.20123px) rotate(5.21736deg); }
  94% {
    -webkit-transform: translate(1.11506px, -2.44919px) rotate(8.70022deg);
    transform: translate(1.91679px, 2.16917px) rotate(-2.67534deg); }
  96% {
    -webkit-transform: translate(1.29717px, -1.52934px) rotate(7.41669deg);
    transform: translate(-0.73481px, 1.46166px) rotate(-5.15457deg); }
  98% {
    -webkit-transform: translate(0.40919px, 1.53051px) rotate(0.07589deg);
    transform: translate(-1.05961px, -1.33078px) rotate(3.59053deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }

@keyframes shake {
  2% {
    -webkit-transform: translate(1.32459px, -1.96283px) rotate(4.94422deg);
    transform: translate(2.42094px, -2.1036px) rotate(-1.93997deg); }
  4% {
    -webkit-transform: translate(-0.28353px, 0.76994px) rotate(-2.99035deg);
    transform: translate(-2.33669px, 0.90094px) rotate(-3.23147deg); }
  6% {
    -webkit-transform: translate(-1.3953px, -0.98484px) rotate(-1.9852deg);
    transform: translate(1.28369px, -2.02441px) rotate(9.27961deg); }
  8% {
    -webkit-transform: translate(0.93986px, -2.16393px) rotate(-4.95922deg);
    transform: translate(0.01921px, 1.34539px) rotate(-6.41805deg); }
  10% {
    -webkit-transform: translate(-0.94625px, 2.34447px) rotate(7.63336deg);
    transform: translate(0.4976px, 1.23278px) rotate(6.10562deg); }
  12% {
    -webkit-transform: translate(-0.8619px, 1.42464px) rotate(-1.64095deg);
    transform: translate(0.6997px, -2.05793px) rotate(-8.4367deg); }
  14% {
    -webkit-transform: translate(-1.04336px, -0.13944px) rotate(9.62651deg);
    transform: translate(0.77726px, -1.9465px) rotate(-0.23699deg); }
  16% {
    -webkit-transform: translate(0.00361px, -1.22339px) rotate(4.2066deg);
    transform: translate(1.91794px, 0.00992px) rotate(4.74992deg); }
  18% {
    -webkit-transform: translate(1.92692px, 0.98917px) rotate(-8.65492deg);
    transform: translate(1.30118px, 0.98425px) rotate(4.41587deg); }
  20% {
    -webkit-transform: translate(-0.29672px, -0.28342px) rotate(7.82569deg);
    transform: translate(1.18912px, 0.51579px) rotate(6.59602deg); }
  22% {
    -webkit-transform: translate(-1.17059px, 2.4443px) rotate(9.87648deg);
    transform: translate(0.43326px, -1.87997px) rotate(-8.84375deg); }
  24% {
    -webkit-transform: translate(-0.78618px, 2.19981px) rotate(-5.72297deg);
    transform: translate(-1.84145px, 0.65692px) rotate(4.53008deg); }
  26% {
    -webkit-transform: translate(1.87607px, -1.04px) rotate(-0.21364deg);
    transform: translate(1.17956px, 0.57153px) rotate(6.89103deg); }
  28% {
    -webkit-transform: translate(-2.45681px, 0.47405px) rotate(-5.24359deg);
    transform: translate(0.09478px, 0.68621px) rotate(-3.35589deg); }
  30% {
    -webkit-transform: translate(1.46042px, -1.17592px) rotate(-3.33242deg);
    transform: translate(-1.20948px, -0.08747px) rotate(9.66323deg); }
  32% {
    -webkit-transform: translate(-1.07545px, -1.40359px) rotate(6.80972deg);
    transform: translate(-1.40695px, 0.29169px) rotate(-0.71251deg); }
  34% {
    -webkit-transform: translate(1.71381px, -1.46524px) rotate(-0.81897deg);
    transform: translate(-1.70112px, 2.276px) rotate(7.09278deg); }
  36% {
    -webkit-transform: translate(0.23968px, 1.32192px) rotate(-2.11756deg);
    transform: translate(2.15541px, -0.19483px) rotate(-4.98622deg); }
  38% {
    -webkit-transform: translate(-1.7578px, -2.42604px) rotate(-3.17953deg);
    transform: translate(-1.53068px, 1.16815px) rotate(-2.27969deg); }
  40% {
    -webkit-transform: translate(0.73318px, -1.30419px) rotate(5.40894deg);
    transform: translate(0.5189px, -2.45649px) rotate(-2.86438deg); }
  42% {
    -webkit-transform: translate(-0.46469px, 2.1895px) rotate(-5.26488deg);
    transform: translate(-1.94145px, 2.07511px) rotate(-5.14131deg); }
  44% {
    -webkit-transform: translate(-2.0537px, -2.21728px) rotate(-8.12711deg);
    transform: translate(-0.04313px, 0.31223px) rotate(-7.96387deg); }
  46% {
    -webkit-transform: translate(2.24185px, -1.28483px) rotate(-3.05975deg);
    transform: translate(-0.39903px, 1.81999px) rotate(-1.14893deg); }
  48% {
    -webkit-transform: translate(-0.06621px, -1.51989px) rotate(9.13494deg);
    transform: translate(0.37432px, -0.36166px) rotate(-0.7891deg); }
  50% {
    -webkit-transform: translate(1.88561px, 2.41406px) rotate(3.20005deg);
    transform: translate(1.03378px, -0.81655px) rotate(2.41301deg); }
  52% {
    -webkit-transform: translate(-0.10335px, -2.31306px) rotate(-8.48378deg);
    transform: translate(-0.18016px, 0.10111px) rotate(3.05961deg); }
  54% {
    -webkit-transform: translate(-0.80669px, -1.39591px) rotate(8.80622deg);
    transform: translate(1.6995px, -0.17581px) rotate(-8.80009deg); }
  56% {
    -webkit-transform: translate(-2.4704px, 2.47323px) rotate(1.3487deg);
    transform: translate(-1.57067px, 0.77444px) rotate(-7.56378deg); }
  58% {
    -webkit-transform: translate(-1.21441px, 0.57153px) rotate(6.04963deg);
    transform: translate(-1.35001px, 0.79364px) rotate(-2.92541deg); }
  60% {
    -webkit-transform: translate(0.35973px, -0.69848px) rotate(-0.73001deg);
    transform: translate(1.88028px, 1.53497px) rotate(-0.12679deg); }
  62% {
    -webkit-transform: translate(1.80952px, -0.41396px) rotate(0.73194deg);
    transform: translate(-0.69935px, -1.42877px) rotate(7.91014deg); }
  64% {
    -webkit-transform: translate(0.59954px, -2.13788px) rotate(-4.13463deg);
    transform: translate(0.22831px, 1.11066px) rotate(2.35485deg); }
  66% {
    -webkit-transform: translate(1.62562px, -0.23652px) rotate(-4.21537deg);
    transform: translate(1.83788px, 2.21075px) rotate(-6.63718deg); }
  68% {
    -webkit-transform: translate(0.19275px, -0.60725px) rotate(-5.68502deg);
    transform: translate(0.39091px, 0.24472px) rotate(-1.03935deg); }
  70% {
    -webkit-transform: translate(2.14096px, -0.917px) rotate(8.32782deg);
    transform: translate(-1.10568px, 0.84257px) rotate(8.93407deg); }
  72% {
    -webkit-transform: translate(1.23496px, -1.54618px) rotate(-4.38765deg);
    transform: translate(-0.00232px, -0.19542px) rotate(-1.26074deg); }
  74% {
    -webkit-transform: translate(0.06871px, -0.23361px) rotate(-0.00959deg);
    transform: translate(-1.5706px, 0.31136px) rotate(7.17086deg); }
  76% {
    -webkit-transform: translate(0.61702px, 0.03235px) rotate(-3.45149deg);
    transform: translate(1.5121px, -2.34429px) rotate(-8.30677deg); }
  78% {
    -webkit-transform: translate(-1.13868px, 0.1623px) rotate(3.90268deg);
    transform: translate(-1.46482px, -1.08719px) rotate(-1.31572deg); }
  80% {
    -webkit-transform: translate(2.17352px, -1.80066px) rotate(-7.11243deg);
    transform: translate(0.39697px, 1.73838px) rotate(8.18447deg); }
  82% {
    -webkit-transform: translate(2.1065px, 1.81084px) rotate(-7.03726deg);
    transform: translate(-1.12574px, 2.05317px) rotate(9.51042deg); }
  84% {
    -webkit-transform: translate(0.74039px, -0.19574px) rotate(-1.93905deg);
    transform: translate(-1.96274px, 0.32132px) rotate(-2.41073deg); }
  86% {
    -webkit-transform: translate(1.57371px, 0.11801px) rotate(-0.80014deg);
    transform: translate(0.41891px, 1.36934px) rotate(7.00208deg); }
  88% {
    -webkit-transform: translate(-1.98463px, 1.60238px) rotate(-1.31135deg);
    transform: translate(-0.0269px, 0.78256px) rotate(9.6061deg); }
  90% {
    -webkit-transform: translate(-2.38199px, -2.41049px) rotate(-6.1322deg);
    transform: translate(-2.24171px, -0.95232px) rotate(9.52765deg); }
  92% {
    -webkit-transform: translate(0.58836px, -1.12286px) rotate(-1.70191deg);
    transform: translate(1.06706px, -0.43083px) rotate(1.47165deg); }
  94% {
    -webkit-transform: translate(0.8004px, -1.48328px) rotate(9.39449deg);
    transform: translate(0.21892px, 2.15824px) rotate(-3.38373deg); }
  96% {
    -webkit-transform: translate(-1.60914px, 2.46432px) rotate(-8.93123deg);
    transform: translate(1.99404px, -1.55839px) rotate(-1.05035deg); }
  98% {
    -webkit-transform: translate(1.01244px, 1.48569px) rotate(-5.85205deg);
    transform: translate(2.26329px, -1.51829px) rotate(-7.88332deg); }
  0%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0); } }

/*fixedBg 页面固定大背景 start*/
.fixedBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/background02.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  z-index: -1; }

/*frosted-glass 毛玻璃 start*/
.frosted-glass01 {
  width: 80%;
  position: absolute;
  height: 50%;
  margin: auto;
  background: inherit;
  /*父元素有背景的情况下*/
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  /*filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 1rem 1rem 3rem black;
  /* box-shadow: 0 0 1rem black;*/ }

.frosted-glass02 {
  height: 100%;
  background-image: url(../img/background.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  /*背景固定的时候，位置不是居中的*/
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  /*filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);*/ }

/*frosted-glass 毛玻璃 end*/
/*shadow01 start*/
.shadow01:before {
  z-index: -2;
  position: absolute;
  background: transparent;
  width: 50%;
  height: 50%;
  content: '';
  left: 20px;
  bottom: 8px;
  -webkit-transform: skew(-12deg) rotate(-4deg);
  -moz-transform: skew(-12deg) rotate(-4deg);
  -o-transform: skew(-12deg) rotate(-4deg);
  -ms-transform: skew(-12deg) rotate(-4deg);
  -o-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); }

.shadow01:after {
  z-index: -1;
  position: absolute;
  background: transparent;
  width: 50%;
  height: 50%;
  content: '';
  right: 20px;
  bottom: 8px;
  -webkit-transform: skew(12deg) rotate(4deg);
  -moz-transform: skew(12deg) rotate(4deg);
  -o-transform: skew(12deg) rotate(4deg);
  -ms-transform: skew(12deg) rotate(4deg);
  -o-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); }

/*shadow01 end*/

/*# sourceMappingURL=maps/special.css.map */
