@charset "UTF-8";
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.tab09 .hd:before, .tab07 .hd:before, .tab04 .hd:before, .tab09 .hd:after, .tab07 .hd:after, .tab04 .hd:after {
  content: " ";
  display: table; }

.tab09 .hd:after, .tab07 .hd:after, .tab04 .hd:after {
  clear: both; }

.tab04 .hd ul li + li .hdInner {
  position: relative; }

/*frame */
/*----------------------------------------------------- */
/* setting scss*/
/*----------------------------------------------------- */
/* 开关设置*/
/*----------------------------------------------------- */
/*是否兼容ie6-7*/
/*是否为ie6-8开启css3滤镜兼容，常用于渐变背景 */
/*是否开启打印样式*/
/* color start */
/* color end */
/* clearfix*/
/* 闭合子元素的浮动*/
.tab09 .hd:before, .tab07 .hd:before, .tab04 .hd:before, .tab09 .hd:after, .tab07 .hd:after, .tab04 .hd:after {
  content: " ";
  display: table; }

.tab09 .hd:after, .tab07 .hd:after, .tab04 .hd:after {
  clear: both; }

.tab04 .hd ul li + li .hdInner {
  position: relative; }

/*frame */
/* input set  start  */
/* input set  end  */
/* tab09 start */
.tab09 {
  height: auto;
  border-bottom: none;
  text-align: left; }
  .tab09.marginBottom .hd {
    margin-bottom: 20px; }
  .tab09 .hd {
    border-bottom: 2px solid #006acf;
    height: 34px;
    position: relative; }
    .tab09 .hd ul {
      float: left; }
      .tab09 .hd ul li {
        float: left;
        height: 33px;
        cursor: pointer;
        font-size: 15.6px;
        -webkit-border-radius: 15px 15px 0 0;
        border-radius: 15px 15px 0 0;
        background: #fafafa;
        border: 1px solid #ddd;
        border-bottom: none; }
        .tab09 .hd ul li + li {
          margin-left: 3px; }
        .tab09 .hd ul li .hdInner {
          padding: 6px 20px; }
        .tab09 .hd ul li.on {
          background: #006acf;
          color: #fff;
          border: 1px solid #006acf;
          border-bottom: none; }
    .tab09 .hd .more {
      height: 34px;
      line-height: 34px; }
  .tab09 .bd .switch {
    padding: 13px;
    zoom: 1; }
    .tab09 .bd .switch .product_gallary {
      margin: -13px; }
    .tab09 .bd .switch li .stb-text {
      height: 30px;
      line-height: 23px;
      font-size: 15px;
      font-weight: 600; }

/* tab09 end */
/* tab07 start */
.tab07 {
  height: auto;
  border-bottom: none;
  text-align: left; }
  .tab07.marginBottom .hd {
    margin-bottom: 20px; }
  .tab07 .hd {
    border-bottom: 2px solid #006acf;
    height: 34px;
    position: relative; }
    .tab07 .hd ul {
      float: left; }
      .tab07 .hd ul li {
        float: left;
        height: 33px;
        cursor: pointer;
        font-size: 15.6px;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        background: #fafafa;
        border: 1px solid #ddd;
        border-bottom: none; }
        .tab07 .hd ul li + li {
          margin-left: 3px; }
        .tab07 .hd ul li .hdInner {
          padding: 6px 20px; }
        .tab07 .hd ul li.on {
          background: #006acf;
          color: #fff;
          border: 1px solid #006acf;
          border-bottom: none; }
    .tab07 .hd .more {
      height: 34px;
      line-height: 34px; }
  .tab07 .bd {
    height: 207px;
    border: 1px solid #ddd;
    border-top: none; }
    .tab07 .bd li .stb-text {
      height: 30px;
      line-height: 23px;
      font-size: 15px;
      font-weight: 600; }
    .tab07 .bd .switch {
      padding: 13px;
      padding: 15px 0px;
      zoom: 1; }
      .tab07 .bd .switch .product_gallary {
        margin: -13px; }

/* tab07 end */
/*tab06 tab切换 start*/
.tab06.case02 {
  height: auto;
  border-bottom: none; }

.tab06.case02 .news-list01 {
  border-top: 1px dashed #ddd; }

.tab06.case02 .bd ul.switch {
  padding: 0px 0;
  zoom: 1; }

.tab06 {
  text-align: left;
  border-bottom: 1px dashed #ddd;
  height: 142px; }

.tab06 .hd {
  background: #f0f0f0;
  position: relative;
  margin-top: 45px; }
  .tab06 .hd ul {
    overflow: hidden; }
    .tab06 .hd ul li {
      float: left;
      cursor: pointer;
      text-align: center;
      width: 25%;
      color: #59a3d6; }
      .tab06 .hd ul li .inner {
        padding: 23px 0px;
        height: 27px;
        font-size: 18.72px; }
        .tab06 .hd ul li .inner .iconfont {
          font-size: 22.464px;
          margin-right: 10px; }
      .tab06 .hd ul li.on {
        background: #59a3d6;
        color: #fff; }

/*tab06 tab切换 end*/
/*tab05 tab切换 start*/
.tab05.case02 {
  height: auto;
  border-bottom: none; }

.tab05.case02 .news-list01 {
  border-top: 1px dashed #ddd; }

.tab05.case02 .bd ul.switch {
  padding: 0px 0;
  zoom: 1; }

.tab05 {
  text-align: left;
  border-bottom: 1px dashed #ddd;
  height: 142px; }

.tab05 .hd {
  height: 35px;
  line-height: 38px;
  background: #f4f4f4;
  border-bottom: 2px solid #6eb92b;
  position: relative; }

.tab05 .hd ul {
  float: left;
  position: absolute;
  left: 0px;
  top: -1px;
  height: 37px; }

.tab05 .hd ul li {
  float: left;
  padding: 0 20px;
  cursor: pointer; }

.tab05 .hd ul li.on {
  height: 35px;
  background: #fff;
  background: #6eb92b;
  border-bottom: 2px solid #6eb92b;
  color: #fff; }

.tab05 .bd ul.switch {
  padding: 15px 0;
  zoom: 1; }

.tab05 .bd ul li .s-general {
  padding: 15px 0; }

.tab05 .bd li .stb-text {
  height: 30px;
  line-height: 23px;
  font-size: 15px;
  font-weight: 600; }

/*tab05 tab切换 end*/
/*tab04 start*/
.tab04 {
  height: auto;
  border-bottom: none;
  text-align: left; }
  .tab04 .more {
    height: 38px;
    line-height: 38px;
    color: #999; }

.tab04 .hd {
  border-bottom: 1px solid #ddd;
  position: relative;
  height: 38px; }
  .tab04 .hd ul {
    float: left; }
    .tab04 .hd ul li {
      float: left;
      height: 38px;
      cursor: pointer;
      font-size: 15.6px; }
      .tab04 .hd ul li .iconfont {
        color: #2675d5;
        margin-right: 10px;
        font-size: 18.72px; }
      .tab04 .hd ul li .hdInner {
        padding: 8px 20px; }
      .tab04 .hd ul li + li .hdInner:before {
        position: absolute;
        left: 0px;
        width: auto;
        color: #dbdbdb;
        content: "|";
        font-size: 15px;
        left: -2px; }
      .tab04 .hd ul li.on {
        background: url(../img/aslionbg.png) center 100% no-repeat;
        color: #2675d5; }

.tab04 .bd .switch {
  padding: 13px; }

.tab04 .bd ul.switch {
  padding: 15px 0px;
  zoom: 1; }

.tab04 .bd li .stb-text {
  height: 30px;
  line-height: 23px;
  font-size: 15px;
  font-weight: 600; }

/*tab04 end*/

/*# sourceMappingURL=maps/tab.css.map */
