*{box-sizing: border-box;}
a{text-decoration: none;}
a:visited{color:#000;}
ul{list-style: none;}


div[class*="Zone"]{
    border-bottom: 1px solid #1625AE;
    padding: 20px 0;
}

.wrapper{
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  border:4px solid #1B75F0;
}
.clear:before,.clear:after{content:" ";display:table;}
.clear:after{clear:both;}
}
/***************************************************************************
**********************************picRow02**********************************
***************************************************************************/
.picRow02_wrapper{
	overflow: hidden;
	width:800px;
	margin:0 auto;
}
.picRow02{width:100%;height: 100%;white-space: nowrap;overflow: hidden;padding-top: 16px;}
.picRow02 ul{
	overflow: visible;font-size:0px;/*li间有空隙*/
	display: block;
}
.picRow02 li{
	font-size:15px;
	display: inline-block;
    width: 240px;
    height: 325px;
    border:1px solid #E9E6E6;
}
.picRow02 li .picBox{
	height: 211px;
}
.picRow02 li .textBox{
	white-space: normal;
	width: 100%;
	padding: 25px 20px;
	height: 115px;
	color: #000;
}
.picRow02 li .textBox .textRow{
	display: block;
    text-align: left;
    line-height: 23px;
}
.picRow02 li .textBox .textRow.price{
	color:#f7a244;font-size: 16px;

}
.picRow02 li .picBox img{width:100%;height: 100%;}
.productBox{padding-top: 36px;}



/***************************************************************************
**********************************picRow03**********************************
***************************************************************************/
.picRow03_wrapper{
	overflow: hidden;
	width:223px;
	margin:0 auto;
}
.picRow03{
	width:100%;
	height: 95px;
	white-space: nowrap;overflow: hidden;
	margin-top: 16px;}
.picRow03 ul{
	overflow: visible;
	font-size:0px;/*li间有空隙*/
	display: block;
	height: 100%;
}
.picRow03 li{
	font-size:15px;
	display: inline-block;
    width: 240px;
    height: 100%;
   
}
.picRow03 li>div{float: left;position: relative;}
.picRow03 li .picBox{
	height: 100%;
	width:92px;
}
.picRow03 li .textBox{
	white-space: normal;
    width: 145px;
    padding: 13px 0 13px 20px;
    height: 100%;
    color: #000;
}
.picRow03 li .textBox .textRow{
	display: block;
    text-align: left;
    font-size: 10px;
    line-height: 20px;
    margin-top: 4px;
}
.picRow03 li .textBox .textRow.name{
	color: #f7a244;
    font-size: 16px;
    height: 20px;
    line-height: 10px;
	
}
.picRow03 li .picBox img{width:100%;height: 100%;}
.productBox{padding-top: 36px;}

/***************************************************************************
**********************************pirRow03end**********************************
***************************************************************************/



/***************************************************************************
**********************************brandPic01**********************************
***************************************************************************/

.brandPic{
	height: 515px;
}
.brandPic>div{
	float: left;
    width: 100%;
}
.brandPic>div.brandPic_left{
	width: 320px;	
}
.brandPic>div.brandPic_right{
	width: 880px;
	border:1px solid #dadada;
	border-top: none;
}
.brandPicBox{
	height: 476px;
}
.leftRight{
	background:url(../img/leftRight.png);
	width: 63px;
	height: 20px;
	float: right; 
}
.leftRight .leftButton,.leftRight .RightButton{
	display: block;
	float: left;
	width: 50%;
	height: 100%;
}

/*glide slider*/
.glide{overflow: hidden;}
.box {
	color: #fff;
	font-size: 3vw;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

/*btnBox*/
.btnBox>.btn{
    float: left;
    margin-right: 20px;
}
.btnBox>.btn.on, .btnBox>.btn.on {
    background-color: #f48000;
    color: #fff;
}
.btn{
	text-align: center;
	display: inline-block;
    border: 1px solid #d8d8d8;    
    background-color: #eee;
    height: 36px;
    line-height: 36px;
    padding:0 18px;
    font-size: 16px;
    border-radius: 20px;
}
.btn_s {
    
    border-radius: 15px;
    padding:0 18px;
    height: 27px;
    line-height: 27px;
    font-size: 13px;
    font-weight: 400;
    
}

/*pagiantion*/
ul.pagination {
    color: #9a9a9a;
    list-style: none;
    margin: 0px auto 0px;
    height: 67px;
    text-align: center;
    display: block;
    position: relative;
}
ul.pagination li {
    display: inline-block;
    margin-left: 10px;
    background-color: #fdfdfd;
    border: 1px solid #C9C8C8;
    padding-top: 11px;
    width: 40px;
    height: 40px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 3px;
}
ul.pagination .ellipsis {
    color: #000;
    font-size: 12px;
    margin: 0;
    border: 0;
    width: 20px;
    letter-spacing: -6px;
}
