body {
  font-family: 'Microsoft YaHei',"Helvetica Neue", Helvetica, 'Hiragino Sans GB',  'WenQuanYi Micro Hei', Arial,sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 22px;
  color: #666; }

/* color */
.gray {
  color: #dbdbdb; }

.abs, .absCenter {
  position: absolute; }

.absCenter {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }
