@charset "UTF-8";
@import url(base.scss);
　
.button_group01 {
  padding: 0 5%; }

.button_group01 .link-zone {
  padding-right: 5px;
  padding-left: 5px; }

.button_group01 .link-wrapper {
  display: block;
  text-decoration: none; }

.button_group01 .link-wrapper .LinkText {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  /* opera mini ie9以下不支持*/
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.button_group01 .link-zone .link-wrapper .circle_c_link {
  background-color: #f2910f; }

/*button_group01 end */
