$baseSize : 14px;
$baseLineHeight : 22px;
$baseFontColor : #666;
body{
	font-family: 'Microsoft YaHei',"Helvetica Neue", Helvetica, 'Hiragino Sans GB',  'WenQuanYi Micro Hei', Arial,sans-serif;
	overflow-x: hidden;
	font-size: $baseSize;
	line-height: $baseLineHeight;
    color: $baseFontColor;
}


/* color */

.gray{color:lighten(#C2C1C1,10%);}

.abs{position: absolute;}
.absCenter {
    @extend .abs;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
 

