@import "variable.scss";
/*.news-list03 start*/
.news-list03 {
    max-height: 240px;
}
.news-list03 ul {
    text-align: left;
} 
.news-list03 li {
    display:block;
    height:36px;
    line-height: 30px;
    padding-left: 15px;
    background: url(#{$baseImgUrl}iconbg02.png) 1px 35% no-repeat;
    background-size: 5px;
}
.news-list03 li .list-text {
    width: 90%;
    color: #666;
  text-align: left;
}
.news-list03 .more-Row {
    text-align:center;
    padding:.4rem 0;
}
/*.news-list03 end*/

/*news-list02 start*/
.news-list02 { max-height: 240px; }
.news-list02 ul { padding-top: 10px; text-align: left; }
.news-list02 li { display: block; height: 36px; line-height: 30px; padding-left: 15px; background: url(#{$baseImgUrl}/iconbg02.png) 1px 35% / 5px no-repeat; }
.news-list02 li .list-text { width: 90%; color: rgb(102, 102, 102); text-align: left; }
/*news-list02 end*/

/*news-list01 start*/
.news-list01{max-height: 240px;}
.news-list01 ul{text-align: left}
.news-list01 li{
    display: block;
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
    background:url(#{$baseImgUrl}iconbg02.png) no-repeat 0 50%;
}
.news-list01 li a .text{
    width: 80%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.news-list01 li a .date{ 
    float:right;
    color:#999;  
}

/*news-list01 end*/

/*content01 start*/
.content01{text-align: left;}
.content01 .stb-text {
    height: 30px;
    line-height: 23px;
    font-size: 15px;
    font-weight: 600;

}
/*content01 end*/
/*content02 start*/
.content02 .a01-img{width:135px;}   
.content02 .a01-img img{width: 100%;}
.content02 .a01-text{margin-left: 135px;padding-left: 18px;text-align: left;}
.content02 .a01-text .a01-title{font-weight: 700;font-size: 14px;height:38px}
/*content02 end*/

/*newsBox01 start*/
.newsBox01.n-pic { overflow: hidden; position: relative; width: 290px;} 
.newsBox01 .bd { position: relative; width: 100%; z-index: 0; } 
.newsBox01 img { width: 100%; display: block; } 
.newsBox01.n-pic .n-pic-text { padding: 9px; } 
.newsBox01.n-pic .n-pic-text .n-pic-title { text-align: center; font-size: 16px; padding: 3px 0; } 
.newsBox01.n-pic .n-pic-text .n-pic-content { padding: 5px 0;text-align: left; }
/*newsBox01 end*/

.friendLink .linkPic{
    padding-bottom: 15px;
    background: rgb(243,243,243);   
}
.friendLink .linkPic .link-wrapper{display:block;width:20%;text-align: center;float: left;}
.friendLink .linkPic .link-wrapper img{width: 90%;}
.friendLink .linkPic .link-wrapper p{text-align: center;padding:15px 0;font-size: 17px;}

.friendLink .linkPic .link-wrapper:hover img{
    position: relative;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    left:5px;
    top: -5px;
    transition: opacity left right 0.5s;
}

/*r-article01 start*/
.r-article01 {
    padding: 23px 0 23px;
}
.r-article01 .r-row .r-link,
.r-article01 .r-row {
    text-align: left;
}
.r-article01 .r-page {
    margin-right: 12px;
    text-align: left;
}
/*r-article01 end*/

/*news-ul01 start*/
.news-ul01{}
.news-ul01 .newsRow{
    padding:30px 0;
    border-bottom: 1px dashed #c2c2c2;
}
.news-ul01 .newsRow .cl-pic{
    width:177px;
    padding:3px;
    border:1px solid #eaeaea;
}
.news-ul01 .newsRow .cl-pic img{width:100%;display: block;}

.news-ul01 .newsRow .cl-newsBox{text-align: left;}
.news-ul01 .newsRow .cl-newsBox .cl-title .cl-p01{
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
}
.news-ul01 .newsRow .cl-newsBox .cl-title .cl-line{
    border-bottom:1px solid #d5d5d5;
    width: 60px;
    min-height: 1px;
}
.news-ul01 .newsRow .cl-newsBox .cl-text{padding: 10px 0 5px;}
.news-ul01 .newsRow .cl-newsBox .cl-btn .time{color: #c3c3c3;}

/*news-ul01 start*/

/*pagination0101 start*/
.pagination01{text-align: center;padding: 18px 0 0;}
.pagination01 ul{display: inline-block;}
.pagination01 ul li{cursor: pointer;display: block;float: left;width: 20px;min-height:32px;margin: 0 7px;padding:5px 0;}
.pagination01 ul li.left{background:url(#{$baseImgUrl}/p-left.png) no-repeat 0 6px;}
.pagination01 ul li.right{background:url(#{$baseImgUrl}/p-right.png) no-repeat 0 6px;;}
.pagination01 ul li.p_ellipsis{cursor: default;}
.pagination01 ul li.on{background:url(#{$baseImgUrl}/blue-bg.png) no-repeat 0 6px;;color: #fff;}
/*pagination01 end*/


@mixin adr_box01($num){
  .adr_box0#{$num}{
       p{
          color: #9c9c9c;
          font-size: 14px;
          padding: 5px 50px;
          background-color: #f6f6f6;
          margin-bottom: 25px;
          text-align: left;
          &.adr{
              background-image: url(#{$baseImgUrl}/adr.png);
              background-repeat: no-repeat;
              background-position: 16px center;
          }
          &.phone{
              background-image: url(#{$baseImgUrl}/phone.png);
              background-repeat: no-repeat;
              background-position: 18px;
          }
          &.email{
              background-image: url(#{$baseImgUrl}/email.png);
              background-repeat: no-repeat;
              background-position: 18px;
          }
       }
  }
}
/*adr_box01 start*/
@include adr_box01(1);
/*adr_box01 end*/
@mixin adr_box02($num){
    .adr_box0#{$num}{
        p{
            padding: 0px 10px 0 50px;
            text-align: left;
            &.adr{
                background-image: url(#{$baseImgUrl}/adr01_adr.png);
                background-repeat: no-repeat;
                background-position: 16px center;
            }
            &.phone{
                background-image: url(#{$baseImgUrl}/adr01_phone.png);
                background-repeat: no-repeat;
                background-position: 16px center;
            }
            &.cellphone{
                background-image: url(#{$baseImgUrl}/adr01_cellphone.png);
                background-repeat: no-repeat;
                background-position: 18px center;
            }
            &.email{
                background-image: url(#{$baseImgUrl}/adr01_email.png);
                background-repeat: no-repeat;
                background-position: 17px center;
            }
        }
    }
}

/*adr_box02 start*/
@include adr_box02(2);
/*adr_box02 end*/


.qa-wrapper01{padding:30px 18px 0;text-align: left;}
.qa-wrapper01 .qa-body{border: 1px solid #efefef;}
.qa-wrapper01 .qa-body .qa-div .theme,
.qa-wrapper01 .qa-body .qa-div .q-info,
.qa-wrapper01 .qa-body .qa-div .question,
.qa-wrapper01 .qa-body .qa-div .answer{
    padding:10px 20px;
    border-bottom: 1px solid #efefef;
}
.qa-wrapper01 .qa-body .qa-div .theme{font-weight: 700;}
.qa-wrapper01 .qa-body .qa-div .question{padding-top:20px;padding-bottom:20px;}
.qa-wrapper01 .qa-body .qa-div .answer .manager{display: block;}
.qa-wrapper01 .qa-body .qa-div .answer .anwser-text{padding-left: 25px;}


.toggle_ul01 .riRow {
    padding: 5px 0;
    text-align: left;
}
.toggle_ul01 .riRow .riRow-t01 {
    padding-left: 25px;
    background: url(#{$baseImgUrl}/plus.png) no-repeat 0 50%;
    ;
    font-size: 14px;
    cursor: pointer;
}
.toggle_ul01 .riRow .riRow-t02 {
    padding-left: 25px;
    color: #b2b2b2;
}

/*switch-tag01 start*/
.switch-tag01 .search-inf-box{padding:20px 0 0px;font-size: 13px;}
.switch-tag01 .search-inf-box .search-tag,
.switch-tag01 .search-inf-box .search-info{padding:0 18px;}
.switch-tag01 .search-info .s-keyword,
.switch-tag01 .search-info .s-count{float: left;}
.switch-tag01 .s-keyword .blue03.k{color:#094990;}


.switch-tag01 .search-inf-box .search-tag{margin:0 -10px;padding-top: 15px;}
.switch-tag01 .search-inf-box .search-tag .ul-line li{float: left;display: block;padding:0 10px;}
.switch-tag01 .search-inf-box .search-tag .ul-line li a{padding:5px 10px;background-color: #eaeaea;}
.switch-tag01 .search-inf-box .search-tag .ul-line li a.on{background-color: #094990;color:#fff;}

.switch-tag01 .cl-details02{
  padding: 1px 5px 1px 12px;
  background-color: #094990;
}
/*switch-tag end*/

/*content_list01 start*/
.content_list01 {
    font-size: 21px;
    color: #3e3e3e;
    text-indent: 43px;
    line-height: 2.3;
    padding: 23px 0;
}
.content_list01 p {
    font-size: 17px;
    color: #333;
    position: relative;
    text-align: left;
}
.content_list01 p:before {
    content: " ";
    background: url(/img/rightA.png)no-repeat;
    width: 17px;
    height: 18px;
    position: absolute;
    top: 12px;
    left: 12px;
}
/*content_list01 end*/

/*foreword01 start*/
.foreword01 {
    padding-top: 45px;
    width: 1180px;
    margin: 0 auto;
}
.foreword01 .fTop img,
.foreword01 .fBottom img {
    width: 100%;
    height: 100%;
    display: block;
}
.foreword01 .fMiddle {
    padding-left: 70px;
    padding-right: 20px;
    border-left: 2px solid #0d7bd4;
    border-right: 2px solid #0d7bd4;
    position: relative;
    background: #fff;
}
.foreword01 .fMiddle .fLeft {
    position: absolute;
    left: -20px;
    top: 16px;
    background: url(#{$baseImgUrl}/fLeft.png) no-repeat;
    width: 65px;
    height: 137px;
    text-align: center;
}
.foreword01 .fMiddle .fLeft .w01 {
    display: table-cell;
    color: #fff;
    font-weight: 700;
    width: 30px;
    font-size: 30px;
    white-space: normal;
    line-height: 33px;
    vertical-align: middle;
    height: 137px;
    padding-left: 15px;
}
/*foreword 01 end*/


