@import "../mySassWare/variable";
@import "../mySassWare/mixin";
@charset "utf-8";

/*iconGroup05 start*/
.iconGroup05{
  .cubeNavigationArea .icon-cube {
    font-size: 2rem;
    color: #fff
  }

  .cubeNavigationArea .cubeLink_text_p {
    font-size: .7rem
  }

  .form.formStyle31 {
    padding: 0;
    background: transparent;
    border: 0
  }

  .cubeNavigationArea {
    overflow: hidden;
    min-height: .5rem;
    padding-top: 1.5%
  }

  .cubeNavigationArea .cubeLink {
    float: left;
    width: 100%;
    height: 4.7rem;
    padding-bottom: 1.5%;
    padding-left: 1.5%;
    $contentArr:"\e60f" "\e70d" "\e82b" "\e606" "\e639" "\e628";
    @for $i from 1 through 6{
      &.cubeLink#{$i}{
        .icon-cube:before{
          content:nth($contentArr,$i);
        }

      }
    }
  }

  .cubeNavigationArea .cubeLink .cubeLink_a {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative
  }

  .cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_bg {
    width: 100%;
    height: 100%;
    position: absolute
  }

  .cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_curtain {
    width: 100%;
    height: 100%;
    position: absolute
  }

  .cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_ico {
    width: 2rem;
    height: 2.1rem;
    margin: auto;
    position: absolute;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px
  }

  .cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text {
    width: 100%;
    position: absolute;
    table-layout: fixed
  }

  .cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p {
    white-space: nowrap;
    overflow: hidden
  }

  .cubeNavigationArea .cubeLink .cubeLink_a .cubeLink_text .cubeLink_text_p .cubeLink_subText_p {
    display: none
  }

  .cubeNavigationArea .cubeLink_fixWidth_1 {
    width: 97%!important
  }

  .cubeNavigationArea .cubeLink_fixWidth_2 {
    width: 47.75%!important
  }



  .cubeNavigationArea2 .cubeLink {
    width: 31.33%
  }

  .cubeNavigationArea2 .cubeLink .cubeLink_a .cubeLink_ico {
    left: 0;
    right: 0;
    top: 15%;
    line-height: 1;
  }

  .cubeNavigationArea2 .cubeLink .cubeLink_a .cubeLink_text {
    bottom: 20%;
    text-align: center;
    color: #fff;
    font-size: 16px
  }

  .cubeNavigationArea2 .cubeLink:nth-child(1) {
    padding-top: 1%
  }

  .cubeNavigationArea2 .cubeLink:nth-child(2) {
    padding-top: 1%
  }

  .cubeNavigationArea2 .cubeLink:nth-child(3) {
    padding-top: 1%
  }

  .cubeNavigationArea2 .cubeLink:nth-child(3n+3) {
    width: 31.34%
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+1) .cubeLink_a .cubeLink_bg {
    background-color: $mainColor;
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+2) .cubeLink_a .cubeLink_bg {
    background-color: #f4b21c;
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+3) .cubeLink_a .cubeLink_bg {
    background-color: #6caede;
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+4) .cubeLink_a .cubeLink_bg {
    background-color: #80b660;
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+5) .cubeLink_a .cubeLink_bg {
    background-color: #e8457f;
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+6) .cubeLink_a .cubeLink_bg {
    background-color: #bc4040;
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+7) .cubeLink_a .cubeLink_bg {
    background-color: #d87570
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+8) .cubeLink_a .cubeLink_bg {
    background-color: #bbd1c4
  }

  .cubeNavigationArea2 .cubeLink:nth-child(9n+9) .cubeLink_a .cubeLink_bg {
    background-color: #febf02
  }


}
/*iconGroup06 end*/

/*iconGroup04 start */
    .iconGroup04{
      padding: 0 5%;
      .link-zone {
        .link-wrapper {
          padding-right: 5px; padding-left: 5px;
          display: block; padding: 0px 0px 1rem; text-decoration: none;
        }
      }
    }
    
    .iconGroup04 .link-wrapper .LinkText {font-size: .8rem; text-align: center; padding-top: 1rem; color: rgb(102, 102, 102); }
    
    .iconGroup04 .link-zone:nth-child(1) .link-wrapper .circle_c_link { background-color: rgb(0, 91, 172); }
    .iconGroup04 .link-zone:nth-child(2) .link-wrapper .circle_c_link { background-color: rgb(55, 159, 160); }
    .iconGroup04 .link-zone:nth-child(3) .link-wrapper .circle_c_link { background-color: rgb(253, 177, 17); }
    .iconGroup04 .link-zone:nth-child(4) .link-wrapper .circle_c_link { background-color: rgb(232, 76, 61); }
    .iconGroup04 .link-zone:nth-child(5) .link-wrapper .circle_c_link { background-color: rgb(30, 143, 203); }
    .iconGroup04 .link-zone:nth-child(6) .link-wrapper .circle_c_link { background-color: rgb(110, 185, 43); }
/*iconGroup04 end */

.btnGroup1{
  $row5h:300px;
  text-align: center;
  .button{
    $btg-gutter:11px;
    $btgh:($row5h - 3*$btg-gutter )/4 ;
    @include button_groupBeta($height:$btgh,$width:100%,$gutter:$btg-gutter,$direction:v);

    color:#fff;
    display: inline-block;
    img{vertical-align:middle;margin-right:10px;}
    a{width:100%;height:100%;display:block;}
    &.white-bg{
      background:#fff;
      color:$orange;

    }
    @include radius(5px);
  }
}

$colorArr01:#3fdc94 #218bd5 #f26262 #f6aa58 #cf78f3 #e882c5 #39be62 #9534bd #58cced #f6da58;
$cal01:length($colorArr01);
.pWrapper01{padding:0 60px 0 60px;}
.prow01{
  @include str_width($strArr:".productDiamond",$padding:0,$block:5);
  $index:1;
  @each $var in $colorArr01 {
    .productDiamond_#{$index}{
      .pic{background: $var;}
      .str-inner{
        &:hover{
          .pic{-webkit-box-shadow:0 0 25px $var;box-shadow:0 0 25px $var}
          .text{color:$var;}
        }
      }
      .title{color:$var;}
      .text{
        $borderColor:$var;
        @include persudo($color:$borderColor,$content:"",$position:before,$bg:none){
          top:0;
          height:1px;
          background:$borderColor;
          width:100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);

        }
      }
    }
    $index: $index + 1;
  }
  .productDiamond{
    padding:15px 0;

    @extend %clear;
    $time:0.5s;
    $time2:0.2s;
    .title{
      overflow: hidden;
      height: 0;

      -webkit-transition:all $time ease-out;
      -o-transition:all $time ease-out;
      transition:all $time ease-out;
    }
    .pic{
      padding:12px 0;@include radius(10px);
      width:80px;
      margin:0 auto;
    }
    .text{
      padding:20px 0;font-size:$bigSize;color:$gray;
      &:before{

        -webkit-transition:all $time2 ease-in;
        -o-transition:all $time2 ease-in;
        transition:all $time2 ease-in;
      }
    }
    .str-inner:hover{
      .title{height:auto;padding:5px 0;}
      .text{
        padding:5px 0;
        &:before{
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
    }
    .str-inner{
      text-align:center;
      height: 155px;
    }
  }

}

$colorArr:#3fdc94 #218bd5 #f26262 #f6aa58 #cf78f3 #e882c5 #39be62 #9534bd #58cced #f6da58;
$cal:length($colorArr);
.pWrapper{padding:0 0 0 20px;}
.prow{

  @include str_width($strArr:".productDiamond",$padding:34px,$block:5);
  $index:1;
  @each $var in $colorArr {
    .productDiamond_#{$index}{
      .pic{background: $var;}
      .str-inner{
        &:hover{
          .pic{-webkit-box-shadow:0 0 25px $var;box-shadow:0 0 25px $var}
          .text{color:$var;}
        }
      }
    }
    $index: $index + 1;
  }
  .productDiamond{
    padding:15px 0;
    .str-inner{
      text-align:center;

    }
  }
  .pic{padding:12px 0;@include radius(10px);}
  .text{padding:20px 0;font-size:$bigSize;color:$gray;}
}
