@import "../mySassWare/variable";
@import "../mySassWare/mixin";
@charset "utf-8";

/*navbar-line10 start*/
.navbar-wrapper10{
  $navbarHeight:2.25rem;
  .webTop {
    /*也可固定*/
    /*
    margin-top: 2.25rem;
    position: fixed;
    top: 0;
    */
    z-index: 90;
    -webkit-backface-visibility: hidden;
    width: 100%;
    max-width: 640px;
    height: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  .webHeaderBox {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    /*position: fixed;
    top: 0rem;*/
    height: $navbarHeight;
    z-index: 2 ;
    position: relative;
    .header{
      text-align:center;
      .pageTitle {
        height: 2.4rem;
        font-weight: normal;
        font-size: 1rem;
        line-height: 2.4rem;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 76.56125%;
        display: inline-block;
        color: #fff;
        vertical-align: top;
        padding-right: .25rem;
        padding-left: .25rem;
        clear: both;
        position: relative;
        z-index: 80;
      }
    }
  }

  .webHeaderBg {

    background-color: $mainColor;
    -webkit-background-size: cover;
    background-size: cover;
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2)
  }
  .navBaseIcon .navItemIcon {
    $fontsize:1.5rem;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: 90% 90%!important;
    background-size: 90%!important;
    width: 2rem;
    height: $fontsize;
    line-height:1;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
    font-size: $fontsize;
    &.icon-navItemIcon:before {
      font-size: $fontsize;
      color: #666;
    }
  }
  .navBaseIcon .navItem a {
    line-height: 2.75rem;
    text-align: left
  }

  .navButton {
    position: absolute;
    right: 0;
    height: 2.25rem;
    width: 2.5rem;
    z-index: 100;
    float: left
  }

  .navButton .menuNav .menuNavTip {
    width: 2rem;
    height: 2rem;
    float: left;
    margin: .15rem 0rem .25rem .5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #fff;
    cursor:pointer;
  }

  .navbar {
    background: #fff;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    &.open{
      visibility: visible;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden
    }
  }


  .navbar{
    &.open{
      .navItem{
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
    .navItem {
      position: relative;
      background: #fff;
      border-bottom: 1px solid #ececec;
      opacity: 0;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      $contentArr:"\e623" "\e60f" "\e70d" "\e82b" "\e606" "\e639";
      @for $i from 1 through 6{
        &.navItem_#{$i}{
          .icon-navItem:before{
            content:nth($contentArr,$i);
          }

        }
      }
    }
  }

  .navbar.open .navItem a {
    visibility: visible;
  }

  .navBaseIcon .navItem a {
    line-height: 2.75rem;
    text-align: left;
  }


  .navbar .navItem a {
    overflow: hidden;
    font-size: .75rem;
    text-decoration: none;

    display: block;
    position: relative;
    padding: 0 .5rem;
    word-break: keep-all;
    white-space: nowrap;
    width: auto;
    min-width: 3rem;
    max-width: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, "黑体", Arial, Tahoma;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    height: 2.9rem;
    color: #333;
    line-height: 2.9rem;
    text-align: left;
    display: block;
    font-size: .7rem;
    color: #333;
    text-decoration: none;
    font-weight: normal;
    border-bottom: 0;
    visibility: hidden;
  }

  .navbar .itemSelected .icon-navItem{
    color: $mainColor;
  }
  .navItem.itemSelected .navItemName {
    color: $mainColor;
  }
  .navBaseIcon .navItem .navItemName {
    vertical-align: middle;
  }
  .navItem .navItemName {
    margin: 0 0 0 1rem;
  }
  .navbar .itemSelected:after {
    color: #bb140d;
  }
  .navbar .navItem:after {
    content: "\e619";
    font-size: 0.9rem;
    position: absolute;
    right: .9rem;
    top: 1rem;
    color: #666;
  }
  $length:80;
  $start:160;
  @for $i from 1 through 10{
    $delay:#{$start + ($i - 1)*$length}ms;
    .open .navItem:nth-child(#{$i}){-webkit-transition-delay:$delay ;-o-transition-delay: $delay;transition-delay: $delay;}
  }
}
/*navbar-line10 end*/

/* navbar start09 */
.navBar_wrapper09 {
  $navPt:3px;
  $num:6;
  background:$mainColor;


  $navbar_to:#018336;
  $navbar_bg:#015d27;
  background: -webkit-gradient(linear,left top, left bottom,from($navbar_to),to($navbar_bg));
  background: -webkit-linear-gradient($navbar_to,$navbar_bg);
  background: -o-linear-gradient($navbar_to,$navbar_bg);
  background: linear-gradient($navbar_to,$navbar_bg);
  background:#{$navbar_bg}\0;


  padding-top: $navPt;

  .navbar-line09 .navbar-block{
    float: left;
    position: relative;
    min-height: 1px;
    cursor: pointer;
    position: relative;
    display: block;
    width:percentage(1/$num);
    $n09innerp:15px;
    .nbi{
      padding:0px $n09innerp;
      position:relative;

    }
    .navLink{
      display: block;
      text-align: center;
      padding:13px 0px;
      color:#fff;
    }
    &.on,&:hover{
      .navLink{
        background: #fff;color:$mainColor;font-weight: 700;
        $radius09:10px;
        -webkit-border-radius:$radius09 $radius09 0 0;
        border-radius:$radius09 $radius09 0 0;
      }

    }
    .naver-wrapper.position_left{left: $n09innerp;}
    .naver-wrapper.position_right{right: $n09innerp;}
  }


  .navbar-line09 .naver-wrapper{
    $n09width:525px;
    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 20px 0;
    top: 100%;
    width:$n09width;
    @include f_pictext_rowNew($width:280px,$height:130px,$fpos:"left",$mar-gutter:0px);
    .naver-wrapper-left{
      .imgBox{
        height:100%;
        padding:0 30px;
        img{
          display: block;
          height:100%;
          width:100%;
        }
      }
    }
    .naver-wrapper-right{
      overflow: hidden;
      .nwr-ul{

      }
      li{
        float:left;
        width:50%;
        margin-bottom: 15px;
        .liInner{
          $pl:15px;
          padding-left:$pl;
          @include persudo($color:inherit,$content:">",$position:before,$bg:none){
            left:0;
          };
          &:hover{
            color:$mainColor;
          }
        }


      }

    }
  }
}
/* navbar09 end */

/*navbar-line08 start*/
.navbar-line08{

.navbar-wrapper .naver_0{
  display: none;
  position: absolute;
  z-index: 99;
  top: 48px;
  padding-top: 3px;
  left: 0;
}
.navbar-block{

  float: left;position: relative;

  min-height: 1px;
  cursor: pointer;
  font-size:14px;
  position: relative;

  display: block;
}
.navbar-block a.navLink{
  display: block;
  padding:13px 37px;

}
.navbar-block.on,.navbar-block:hover{background: #fff;color:#6eb92b;}
.navbar-block .naver_0{
  display: none;
  position: absolute;
  z-index: 99;
  top: 48px;
  padding-top: 10px;

}
.navbar-block .naver_0 .nav_erc{
  color:#6eb92b;

  background-color: #ecf8fc;
  background-color: rgba(236,248,252,.9);
  text-align: center;
}
.navbar-block .naver_0 .nav_erc li {

  padding-top: 3px;
  left: 0;
}
.navbar-block .naver_0 .nav_erc{
  color: #6eb92b;
  background-image: url(../img/navBarbg.png) ;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  width: 404px;
  height: 99px;
  padding: 15px;

}
.navbar-block .naver_0 .nav_erc .navBox01,
.navbar-block .naver_0 .nav_erc .navBox01Pic,
.navbar-block .naver_0 .nav_erc .navBox01Pic a,
.navbar-block .naver_0 .nav_erc .navBox01Link{display: block;height: 100%;}
.navbar-block .naver_0 .nav_erc .navBox01Link .linkWrapper{
  display: table-cell;
  vertical-align: middle;
  height: 104px;
  text-align: left;
}
.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent{padding-left: 15px}

.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent .navLi{
  display: block;

  float: left;
  /* padding-left: 10%; */
  background: url(../img/nav-lb.png) no-repeat 0px 53%;
  font-size: 12px;
  padding: 7px 0;
}
.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent .navLi:hover{background-image: none;}
.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent .navLi:hover a{
  background:#6eb92b;
  color: #fff;
}

.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent .navLi a{padding: 0px 10px;}
.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent .navLi.nvali-l{width: 150px;}
.navbar-block .naver_0 .nav_erc .navBox01Link .linkContent .navLi.nvali-r{}
.navbar-block .naver_0 .nav_erc li {

  padding: 5px 45px;
}
.navbar-block .naver_0 .nav_erc li:hover{background-color: #6eb92b;}
.navbar-block .naver_0 .nav_erc li:hover a{color: #fff;}
.navbar-block .naver_0 .nav_erc li a{
  white-space: nowrap;

}
}
/*navbar-line08 end*/

/* navbar start07 */
.navBar_wrapper07 {
  $navPt:3px;
  $num:6;
  background:$mainColor;


  $navbar_to:#018336;
  $navbar_bg:#015d27;
  background: -webkit-gradient(linear,left top, left bottom,from($navbar_to),to($navbar_bg));
  background: -webkit-linear-gradient($navbar_to,$navbar_bg);
  background: -o-linear-gradient($navbar_to,$navbar_bg);
  background: linear-gradient($navbar_to,$navbar_bg);
  background:#{$navbar_bg}\0;


  padding-top: $navPt;

  .navbar-line07 .navbar-block{
    float: left;
    position: relative;
    min-height: 1px;
    cursor: pointer;
    position: relative;
    display: block;
    width:percentage(1/$num);
    $n07innerp:15px;
    .nbi{
        padding:0px $n07innerp;
        position:relative;

    }
    .navLink{
      display: block;
      text-align: center;
      padding:13px 0px;
    }
    &.on,&:hover{
      .navLink{
        background: #fff;color:$mainColor;font-weight: 700;
        $radius07:10px;
        -webkit-border-radius:$radius07 $radius07 0 0;
        border-radius:$radius07 $radius07 0 0;
      }

    }
    .naver_wrapper.position_left{left: $n07innerp;}
    .naver_wrapper.position_right{right: $n07innerp;}
  }


  .navbar-line07 .naver_wrapper{

    background-color: #fff;
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 20px 0;
    top: 100%;

    .naver_wrapper_inner{
      position:relative;
      white-space: nowrap;

      .naver_inner,.naver_01 {display:inline-block;vertical-align:middle;}
      .naver_inner {
        display: none;
        width:500px;
        padding-right: 5px;
        color:$baseFontColor;
        @include f_pictext_row($width:210px,$height:125px,$fpos:"left",$mar-gutter:15px);
        .naver_inner_left{
          padding-left: 10px;
          img{display:block;width:100%;height:100%;}
        }
        .naver_inner_right{
          white-space: normal;
          padding:0 10px;
        }
      }
      .naver_01 {

        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 130px;

        .navLi{
          text-align: center;padding:8px 0;color:#333;
          .itemChoose{color:$mainColor;}
          a{
            $pl:10px;
            padding-left:$pl;
            @include persudo($color:inherit,$content:">",$position:before,$bg:none){
              left:-$pl;
            };
          }
        }
      }

    }
  }


  .navbar-line07 .naver_wrapper{
    &.position_left .naver_01 {
      border-right: 1px solid #dddcdd;}
    &.position_right .naver_01 {
      border-left: 1px solid #dddcdd;}
  }

  .navbar-line07 .naver_wrapper .naver_pics .link-wrapper {
    display: inline-block;
    text-align: center;
    width: 137px;

  }
  .navbar-line07 .naver_wrapper .naver_pics .link-wrapper img {
    display: block;
    width: 90%;
  }
  .navbar-line07 .naver_wrapper .naver_pics .link-wrapper p {
    text-align: center;
    /*color:#999;
    font-size: 14px;*/
    padding-top: 10px;
  }
  .navbar-line07 .naver_wrapper .naver_inner.naver_text{
    width: 420px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    padding: 7px 18px;
  }

}
/* navbar07 end */

/* navbar06 start */
$navbar_num:7;
$navbar_bg:#f4ca04;
$navbar_to:#eda803;

    .navBar_wrapper06{
          background:$blue;
          .navbar-line06{
            padding-left:20px; position: relative;
            /* nav_erc0 start*/
            .naver_0 {
              display: none;
              position: absolute;
              z-index: 99;
              top: 100%;
              min-width: 100%;
              max-width:200%;
              left:0;
              .nav_erc{
                @extend %bg-white;
                @extend %align-left;
                @include border();
                @extend %clear;

                border-top:none;

                li{
                  font-size: $smallSize*1.2;
                  font-weight: normal;
                  text-align: center;
                  float:left;
                  display: block;
                  @extend %capitalize;
                  &:hover{
                    /* .link{background:url(#{$baseImgUrl}irightArrow.png) 0px 50% no-repeat;} */
                  }
                  $link_h:22px;
                  .link{
                    white-space: nowrap;
                    color:$baseFontColor;
                    padding: 20px 25px;
                    display: inline-block;
                    @extend %block;
                    .inner{@extend %ellipsis;}
                    &,.inner{@include lheightM($height:$link_h);}
                    &:hover{color:$blue;}
                    i.fa{
                      margin-right: 8px;
                      top: -1px;
                      position: relative;
                    }
                    span{@extend %ellipsis;line-height:1;}

                  }
                }
              }
            }
            /*nav_erc0 end */
          }
    }
    .navbar-line06 .navbar-block{
      float: left;
      min-height: 1px;
      cursor: pointer;

      display: block;
      width:percentage(1/$navbar_num);
      color:#fff;

      @extend %uppercase;
      .bg{
        width:100%;
        height: 60px;
        bottom:0;
        right:0;
        position:absolute;

      }
      .text{z-index:999;position:relative;}
    }
    .navbar-line06 .navbar-block{
      &.on{.naver_0{display:block;}}
      &.on,
      .navLink:hover{
        .bg{
          background:url(#{$baseImgUrl}navBg2.png) no-repeat 50% 0
        }

      }
    }

    .navbar-line06 .navbar-block a.navLink {
      display: block;
      text-align: center;
      font-size: $mediumSize;
      color:#fff;
      @extend %relative;
      padding:13px 0;
      &.divider{
        @include persudo($color:#dbdbdb,$content:"|",$position:before,$bg:"ndivider2.png");
        &:before{width: 3px;height: 40px;top: 6px;}
      }
    }

    .navbar-line06 .navbar-block{

    }

/* navbar06 end */

/* navbar05 start */
    $navbar_num:8;

    .navBar_wrapper05{
      background:#ea421e;
      /* nav_erc0 start*/
      .naver_0 {
        display: none;
        position: absolute;
        z-index: 99;
        top: 100%;
        min-width: 100%;
        max-width:200%;
        .nav_erc{
          @extend %bg-white;
          @extend %align-left;
          @include border();

          background:#d2d2d2;
          padding:15px 0;
          border-top:none;
          -webkit-border-radius: 0 0 15px 15px;
          border-radius: 0 0 15px 15px;
          li{
            font-size: $smallSize*1.2;
            font-weight: normal;
            text-align: center;
            @extend %capitalize;
            &:hover{
              .link{background:url(#{$baseImgUrl}irightArrow.png) 0px 50% no-repeat;}
            }
            $link_h:22px;
            .link{
              white-space: nowrap;
              color:$baseFontColor;
              padding: 5px 18px;
              display: inline-block;
              @extend %block;
              .inner{@extend %ellipsis;}
              &,.inner{@include lheightM($height:$link_h);}
              i.fa{
                margin-right: 8px;
                top: -1px;
                position: relative;
              }
              span{@extend %ellipsis;line-height:1;}

            }
          }
        }
      }
      /*nav_erc0 end */
    }
    .navbar-line05 .navbar-block{
      float: left;
      min-height: 1px;
      cursor: pointer;
      padding: 4px 0;
      position: relative;
      display: block;
      width:percentage(1/$navbar_num);
      color:#fff;

      @extend %uppercase;
    }
    .navbar-line05 .navbar-block.on,
    .navbar-line05 .navbar-block:hover {

      background:url(#{$baseImgUrl}navBg.png) center center no-repeat;
      background-size:cover;
      color:#fff;
      z-index: 99;
      a.navLink {
        &.divider{
          @include persudo($color:none,$content:"",$position:before,$bg:none);
        }
      }
      & + .navbar-block{
        .divider{

          @include persudo($color:none,$content:"",$position:before,$bg:none);
        }
      }
    }
    .navbar-line05 .navbar-block a.navLink {
      display: block;
      text-align: center;
      font-size: $mediumSize;
      color:#fff;
      @extend %relative;
      padding:10px 0;
      &.divider{
        @include persudo($color:#dbdbdb,$content:"|",$position:before,$bg:"ndivider.png");
        &:before{width: 2px;height: 40px;top: -1px;}
      }
    }

    .navbar-line05 .navbar-block{

    }

/* navbar05 end */