$sb:'slideBox';
@mixin bd{
    position: relative;
    width: 100%;
    z-index: 0;
    li{
        width: 100%;
        display: block;
        vertical-align: middle;
        a{
            width: 100%;
            display: block;
            img{
                width: 100%;
                display: block;
            }
        }
    }
};
@mixin hd($width,$height){
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    z-index: 1;
    ul{
        overflow: hidden;
        zoom: 1;
        display: inline-block;
        li{
            width: #{$width}px;
            height: #{$height}px;
            float: left;
            margin-right: 12px;
            line-height: 14px;
            text-align: center;
            background: #faf9f9;
            cursor: pointer;
            &.on{
                background: #df0000;
                color: rgb(255, 255, 255);
            }
        }
    }
};
@mixin slideBox($num){
    .#{$sb}0#{$num}{
        width: 100%;
        overflow: hidden;
        position: relative;
        .hd{
            @include hd(30,6);
        }
        .bd{
            @include bd;
        }
    }    
};
/*slideBox02 start*/
@include slideBox(2);
/*slideBox02 end*/