@function sign($s) {
	$s : '-';
	@if random()<0.5{$s : '';}@else{$s : '-';}
	@return #{$s};
}
 
@keyframes shake{
	 $i : 2;
	 $sign : '-';
	 $baseNum : 2.5;
	 $baseAngle : 10;
	 @while $i < 100{
	 	
	 	#{$i}%{
          	 transform: translate(sign($sign)+($baseNum*random()+px),sign($sign)+($baseNum*random()+px)) rotate(sign($sign)+($baseAngle*random()+deg));
	 	}
	 	$i : $i + 2;
	 }  
	 0%, 100% {
             transform: translate(0, 0) rotate(0); } 
}


 
